@import url(http://fonts.googleapis.com/css?family=Lora:700italic|Source+Sans+Pro:400,400italic,900,600,700);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }


html {
  height: 100%;
}
body {
  background: #fff;
  color: #373A41;
  font: 400 16px/1.45 "Source Sans Pro", Helvetica, Calibri, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

section,
header,
figure,
footer { 
  display: block;
}

img {
  max-width: 100%;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

a:link {
  color: #0074d9;
  text-decoration: none;
}
a:visited {
  color:#b10dc9;
}
a:hover {
  color:#ff4136;
  text-decoration: underline;
}

p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
blockquote {
  border-bottom: 1px solid #ddd;
  color: #555;
  font-style: italic;
  margin: 25px auto;
  padding-bottom: 25px;
  max-width: 300px;
}
.content blockquote p {
  font-size: 18px;
}
blockquote cite {
  font-size: 14px;
  margin-top: 5px;
}
blockquote cite strong {
  font-size: 16px;
  font-style: normal;
}
blockquote img {
  border-radius: 2px;
  display: block;
  margin-bottom: 5px;
  width: 60px;
}
@media (min-width: 700px) {
  blockquote {
    border-bottom: none;
    border-left: 1px solid #ddd;
    float: right;
    margin: 0 0 25px 50px;
    padding-left: 25px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 22px 0 8px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
}
h3 {
  color: #444;
  font-size: 12px;
  line-height: 1;
  margin-top: 0;
  text-transform: uppercase;
}
@media (min-width: 801px) {
  h4 {
    font-size: 18px;
  }
}
h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
}
@media (min-width: 901px) {
  h4 {
    font-size: 48px;
  }
}
h5 {
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}
@media (min-width: 901px) {
  h5 {
    font-size: 24px;
  }
}
h6 {
  font-size: 13px;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 50px 0;
  width: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.container--map {
  background: #111;
  border-bottom: 10px solid #fff;
  padding: 20px;
}
@media (min-width: 999px) {
  .container--map {
    padding: 50px;
  }
}
.row {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 1000px;
}

header {
  background: #ffffff url('/the-state-of-our-roads-and-bridges/img/bridge.jpg') 5% 65%;
  min-height: 300px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
header hgroup {
  padding: 20px 0;
  text-align: center;
}
header h1 {
  color: #111;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
header h1 span {
  color: #fff;
  display: block;
  font-family: "Lora";
  font-size: 12px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 700;
}
header h3 {
  color: #fff;
  font-family: "Lora";
  font-size: 14px;
  font-style: italic;
  margin-top: 40px;
  text-transform: capitalize;
  font-weight: 700;
}
header h3 span {
  background: #ff4136;
  border-radius: 2px;
  display: inline-block;
}
@media (min-width: 481px) {
  header h1 {
    font-size: 48px;
  }
  header h1 span {
    font-size: 18px;
  }
  header h3 {
    font-size: 18px;
  }
}
@media (min-width: 601px) {
  header {
    min-height: 700px;
  }
  header hgroup {
    padding-top: 50px;
  }
  header h1 {
    font-size: 72px;
  }
  header h1 span {
    font-size: 24px;
  }
  header h3 {
    font-size: 24px;
  }
}

.intro {
  background: #ff4136;
  border-bottom: 10px solid #fff;
  color: #fff;
  padding: 20px;
}
.intro p, footer p {
  margin: 0;
}
@media (min-width: 601px) {
  .intro p {
    font-size: 24px;
  }
}
@media (min-width: 999px) {
  .intro, footer {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.content {
  padding: 20px;
  margin: 0 auto;
}
@media (min-width: 601px) {
  .content p {
    font-size: 24px;
  }
}
@media (min-width: 999px) {
  .content {
    padding: 50px;
  }
}

.data {

}
.map {
  height: 150px;
}
@media (min-width: 401px) {
  .map {
    height: 200px;
  }
}
@media (min-width: 501px) {
  .map {
    height: 300px;
  }
}
@media (min-width: 601px) {
  .data {
    float: left;
    width: 35%;
  }
  .map {
    float: left;
    margin-left: 5%;
    width: 60%;
  }
}
@media (min-width: 801px) {
  .map {
    height: 400px;
  }
}
.legend {
  color: #ccc;
  margin: 20px auto;
  position: relative;
  width: 180px;
}
@media (min-width: 601px) {
  .legend {
    margin: 30px 0 0;
  }
}

footer {
  background: #f5f5f5;
  color: #111;
  padding: 20px;
}
footer p {
  font-size: 12px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.table {
  color: #ccc;
  font-size: 11px;
}
.table span {
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #444;
  text-align: left;
}
.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th {
  border-top: none;
}
.table > tbody > tr > th,
.table > tfoot > tr > th {
  text-align: left;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > thead:last-child > tr > th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}