@import url(http://fonts.googleapis.com/css?family=Lora:700italic|Source+Sans+Pro:400,400italic,900,600,700);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }


html {
  height: 100%;
}
body {
  color: #373A41;
  font: 400 16px/1.45 "Source Sans Pro", Helvetica, Calibri, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section,
header,
figure,
footer { 
  display: block;
}

img {
  max-width: 100%;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

a:link {
  color: #55A3CA;
  text-decoration: none;
}
a:visited {
  color:#6824E5;
}
a:hover {
  color:#E53724 /* #E7A024*/;
  text-decoration: underline;
}

p {
  font-size: 16px;
  margin: 0 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 22px 0 8px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  margin-top: 10px;
}
h4 {
  border-radius: 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 1px 3px;
  text-transform: uppercase;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13px;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 50px 0;
  width: 100px;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}
.row {
  padding: 0 10px;
  position: relative;
  width: 100%;
}

header {
  background: #ffffff url('/img/bridge.jpg') 5% 65%;
  min-height: 300px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
header hgroup {
  padding: 20px 0;
  text-align: center;
}
header h1 {
  color: #111;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
header h1 span {
  color: #fff;
  display: block;
  font-family: "Lora";
  font-size: 12px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 700;
}
header h3 {
  color: #fff;
  font-family: "Lora";
  font-size: 12px;
  font-style: italic;
  margin-top: 40px;
  text-transform: capitalize;
  font-weight: 700;
}
header h3 span {
  background: #ff4136;
  border-radius: 2px;
  display: inline-block;
}
@media (min-width: 481px){
  header h1 {
    font-size: 48px;
  }
  header h1 span {
    font-size: 18px;
  }
  header h3 {
    font-size: 18px;
  }
}
@media (min-width: 601px) {
  header {
    min-height: 700px;
  }
  header hgroup {
    padding-top: 50px;
  }
  header h1 {
    font-size: 72px;
  }
  header h1 span {
    font-size: 24px;
  }
  header h3 {
    font-size: 24px;
  }
}

.intro {
  background: #111;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
}
.intro p {
  font-size: 16px;
  margin: 0;
}
@media (min-width: 601px) {
  .intro {
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .intro p {
    font-size: 24px;
  }
}

.map-container {
  border-bottom: 1px dotted #ddd;
  margin: 20px 0;
  padding: 20px 0;
}
@media (min-width: 769px) {
  .map-container {
    margin: 50px 0;
    padding: 50px 0;
  }
}

.map {
  height: 200px;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .map {
    height: 400px;
  }
}
@media (min-width: 769px) {
  .map {
    margin: 0;
    width: 600px;
  }
}
@media (min-width: 1025px) {
  .map {
    height: 400px;
  }
}

.legend {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 250px;
}
caption {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
  text-align: left;
}
@media (min-width: 1100px) {
  .legend {
    left: 600px;
    margin: 0;
    position: absolute;
    top: 100px;
  }
  caption {
    font-size: 16px;
  }
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.table {
  font-size: 11px;
  width: 100%;
}
.table span {
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  color: #212326;
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  text-align: left;
}
.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th {
  border-top: none;
}
.table > tbody > tr > th,
.table > tfoot > tr > th {
  text-align: left;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > thead:last-child > tr > th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}