<footer>
  <div class="container">
    <div class="row">
      <p>The data liberated from the original PDF was put in a <a href="https://docs.google.com/spreadsheets/d/1ITi5sYNawPVYKKqKQliHzfbZ2u1yMQPW4tGTzi6_LDI/edit">Google spreadsheet</a> and then converted to <a href="{{ site.baseurl }}/roads-bridges.json">json</a>.</p>
    </div>
  </div>
</footer>
<script src="//code.jquery.com/jquery-1.10.2.min.js" type="application/javascript"></script>
<script src="{{ site.baseurl }}/js/datamaps.all.min.js"></script>
<script src="{{ site.baseurl }}/js/jobs.js"></script>
<script src="{{ site.baseurl }}/js/projects.js"></script>
<script src="{{ site.baseurl }}/js/roads.js"></script>
<script src="{{ site.baseurl }}/js/bridges.js"></script>

<script type="application/javascript">
$(document).ready(function() {
  /*$("path").click(function(){
    alert('hi');
  });*/
});
</script>

</body>
</html>