{%include header.html %}

<div class="intro">
  <div class="container">
    <div class="row">
      <p>If Congress fails to reauthorize funding to repair our crumbling infrastructure by September 30, it will have very real consequences for all 50 states — jeopardizing hundreds of thousands of jobs, and slowing or stopping more than 100,000 active highway and transit projects.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="map-container">
      <h4 class="jobs">Esimtated Jobs at Risk</h4>
      <div class="map" id="jobs"></div>
      <table class="table legend">
        <caption>California can potentially lose an estimated 73,572 jobs.</caption>
        <tbody>
          <tr>
            <td><span style="display: block; background: rgba(46, 204, 64, .25);width: 20px; height: 20px;"></span></td>
            <td>Less than 6,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(46, 204, 64, .5);width: 20px; height: 20px;"></span></td>
            <td>6,000 - 10,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(46, 204, 64, .75);width: 20px; height: 20px;"></span></td>
            <td>10,000 - 14,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(46, 204, 64, 1);width: 20px; height: 20px;"></span></td>
            <td>More than 14,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="map-container">
      <h4 class="projects">Acitve Highway Projects</h4>
      <div class="map" id="projects"></div>
      <table class="table legend">
        <caption>Virginia has 6595 active highway projects.</caption>
        <tbody>
          <tr>
            <td><span style="display: block; background: rgba(255, 133, 27, .25);width: 20px; height: 20px;"></span></td>
            <td>Less than 1,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 133, 27, .5);width: 20px; height: 20px;"></span></td>
            <td>1,000 - 2,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 133, 27, .75);width: 20px; height: 20px;"></span></td>
            <td>2,000 - 3,000</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 133, 27, 1);width: 20px; height: 20px;"></span></td>
            <td>More than 3,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="map-container">
      <h4 class="roads">Roads in Poor Condition</h4>
      <div class="map" id="roads"></div>
      <table class="table legend">
        <caption>Both Connecticut and Rhode Island have 41% of roads listed in poor condition.</caption>
        <tbody>
          <tr>
            <td><span style="display: block; background: rgba(0, 116, 217, .25);width: 20px; height: 20px;"></span></td>
            <td>Less than 20%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(0, 116, 217, .5);width: 20px; height: 20px;"></span></td>
            <td>20% - 25%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(0, 116, 217, .75);width: 20px; height: 20px;"></span></td>
            <td>26% - 32%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(0, 116, 217, 1);width: 20px; height: 20px;"></span></td>
            <td>More than 32%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="map-container">
      <h4 class="bridges">Deficient or Obsolete Bridges</h4>
      <div class="map" id="bridges"></div>
      <table class="table legend">
        <caption>Rhode Island has 57% of bridges listed as deficient or obsolete.</caption>
        <tbody>
          <tr>
            <td><span style="display: block; background: rgba(255, 65, 54, .25);width: 20px; height: 20px;"></span></td>
            <td>Less than 20%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 65, 54, .5);width: 20px; height: 20px;"></span></td>
            <td>20% - 25%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 65, 54, .75);width: 20px; height: 20px;"></span></td>
            <td>26% - 32%</td>
          </tr>
          <tr>
            <td><span style="display: block; background: rgba(255, 65, 54, 1);width: 20px; height: 20px;"></span></td>
            <td>More than 32%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <p>The data liberated from the original PDF was put in a <a href="https://docs.google.com/spreadsheets/d/1ITi5sYNawPVYKKqKQliHzfbZ2u1yMQPW4tGTzi6_LDI/edit">Google spreadsheet</a> and then converted to <a href="{{ site.baseurl }}/roads-bridges.json">json</a>.</p>
  </div>
</div>
       
{%include footer.html %}