{%include header.html %}

<div class="content">
  <div class="container">
    <div class="row">
      <blockquote>
        <p>&ldquo;A modern, efficient highway system is essential to meet the needs of our growing population, our expanding economy, and our national security.&rdquo;</p>
        <img alt="President Eisenhower" src="{{ site.baseurl }}/img/eisenhower.jpg" />
        <cite><strong>President Eisenhower</strong><br />1955 State of the Union Address</cite>
      </blockquote>
      <p>While the most important economic impact of smart infrastructure investment comes from long - term competitiveness, productivity, innovation, lower prices, and higher incomes, infrastructure investment also creates many thousands of jobs in the near - term that are directly linked to the American economy and difficult to ship overseas. These jobs span across a wide variety of different industries. For example, road building not only requires construction workers, but also grading and paving equipment, gasoline or diesel to run the machines, smaller hand tools of all sorts, raw inputs of cement, gravel, and asphalt, surveyors to map the site, engineers and site managers, and even accountants to keep track of costs.</p>
    </div>
  </div>
</div>

<div class="container container--map">
  <div class="row group">
    <div class="data">
      <hgroup>
        <h3>Jobs</h3>
        <h4>Estimated Jobs at Risk</h4>
        <h5>At the high end, California can potentially lose an estimated 73,572 jobs. While New Hampshire can potentially lose 2,675.</h5>
      </hgroup>
      <div class="legend">
        <table class="table">
          <tbody>
            <tr>
              <td><span style="display: block; background: rgba(46, 204, 64, .25);width: 20px; height: 20px;"></span></td>
              <td>Less than 6,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(46, 204, 64, .5);width: 20px; height: 20px;"></span></td>
              <td>6,000 - 10,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(46, 204, 64, .75);width: 20px; height: 20px;"></span></td>
              <td>10,000 - 14,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(46, 204, 64, 1);width: 20px; height: 20px;"></span></td>
              <td>More than 14,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="map" id="jobs"></div>
  </div>
</div>

<div class="container container--map">
  <div class="row group">
    <div class="data">
      <hgroup>
        <h3>Projects</h3>
        <h4>Active Highway Projects</h4>
        <h5>Virginia has 6595 active highway projects. On the low end Nevada has 381.</h5>
      </hgroup>
      <div class="legend">
        <table class="table">
          <tbody>
            <tr>
              <td><span style="display: block; background: rgba(0, 116, 217, .25);width: 20px; height: 20px;"></span></td>
              <td>Less than 1,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(0, 116, 217, .5);width: 20px; height: 20px;"></span></td>
              <td>1,000 - 2,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(0, 116, 217, .75);width: 20px; height: 20px;"></span></td>
              <td>2,000 - 3,000</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(0, 116, 217, 1);width: 20px; height: 20px;"></span></td>
              <td>More than 3,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="map" id="projects"></div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <p>Today there are more than 4 million miles of road, 600,000 bridges, and 3,000 transit providers in the U.S. And yet, over the past 20 years, total federal, state, and local investment in transportation has fallen as a share of GDP – while population, congestion, and maintenance backlogs have increased.</p>
      <p>65 percent of America’s major roads are rated in less than good condition, one in four bridges require significant repair or cannot handle today’s traffic, and forty five percent of Americans lack access to transit.</p>
    </div>
  </div>
</div>

<div class="container container--map">
  <div class="row group">
    <div class="data">
      <hgroup>
        <h3>Roads</h3>
        <h4>Roads in Poor Condition</h4>
        <h5>Both Connecticut and Rhode Island have 41% of roads listed in poor condition. Missouri has only 1% in poor condition.</h5>
      </hgroup>
      <div class="legend">
        <table class="table">
          <tbody>
            <tr>
              <td><span style="display: block; background: rgba(255, 255, 255, .25);width: 20px; height: 20px;"></span></td>
              <td>Less than 20%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 255, 255, .5);width: 20px; height: 20px;"></span></td>
              <td>20% - 25%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 255, 255, .75);width: 20px; height: 20px;"></span></td>
              <td>26% - 32%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 255, 255, 1);width: 20px; height: 20px;"></span></td>
              <td>More than 32%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="map" id="roads"></div>
  </div>
</div>

<div class="container container--map">
  <div class="row group">
    <div class="data"> 
      <hgroup>
        <h3>Bridges</h3>
        <h4>Deficient or Obsolete Bridges</h4>
        <h5>Rhode Island has 57% of bridges listed as deficient or obsolete. Both Minnesota and Arizona have 12%.</h5>
      </hgroup>
      <div class="legend">
        <table class="table">
          <tbody>
            <tr>
              <td><span style="display: block; background: rgba(255, 65, 54, .25);width: 20px; height: 20px;"></span></td>
              <td>Less than 20%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 65, 54, .5);width: 20px; height: 20px;"></span></td>
              <td>20% - 25%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 65, 54, .75);width: 20px; height: 20px;"></span></td>
              <td>26% - 32%</td>
            </tr>
            <tr>
              <td><span style="display: block; background: rgba(255, 65, 54, 1);width: 20px; height: 20px;"></span></td>
              <td>More than 32%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="map" id="bridges"></div>
  </div>
</div>
       
{% include footer.html %}